*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    margin: 60px auto;
    max-width: 1000px;
    min-width: 500px;
    width: 1000px;
    min-height: 700px;
    height: 700px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 3px rgba(0,0,0,0.30);
}
.menu{
    display: flex;
    flex-direction: row;
}
.feedback_wrapper{
    background-color: #635790;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback_box{
    background-color: white;
    border: 2px solid black;
    width: 95%;
    height: 90%;
}
.menu_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635790;
    width: 45%;
}
